body{
    background-image: url(backg1.jpg);
    background-repeat: no-repeat;
    background-size:300vh 400vw;
    min-height: 100vh; 
    overflow: hidden;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left:20px;
    float: right;
}    
header ul li a{
    text-decoration: none;
    color:#000000;
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover,header ul li a.active{
    background-color: #ffffff;
    color: #000000;
}
section{
    position: relative;
    width: 200%;
    height: 40vh;
    padding: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;     
}
#text{
    font-size: 7.5vw;
    white-space: nowrap;
    position: absolute; 
    color: #000000;
}


.wave {
    margin-top: 20%;
    margin-left: 3%;
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.wave span {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 7.5em;
    text-transform: uppercase;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(.08s*var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }
    40%,
    100% {
        transform: translateY(0px);
    }
}